<div class="row g-5 g-xl-10 mb-5 mb-xl-10" *transloco="let t; scope: 'user'">
  <div class="col-xl-12">
    <div class="card card-flush h-md-100">
      <div class="card-header pt-7">
        <h3 class="card-title d-flex align-items-start flex-column">
          <span class="card-label fs-18 fw-700">{{ t('user.title') }}</span>
        </h3>
        <div class="card-toolbar">
          <div class="w-100 d-flex justify-content-between align-items-center">
            <div class="w-100 d-flex justify-content-end align-items-center custom-search">
              <div class="acction-button d-flex align-items-center">
                <img class="search-icon pe-2" src="assets/images/svg/export.svg" alt="">
                <span class="fw-700">Export</span>
              </div>
              <div class="acction-button d-flex align-items-center">
                <img class="search-icon pe-2" src="assets/images/svg/import6.svg" alt="">
                <span class="fw-700">Import</span>
              </div>
              <div class="search-select-option-school">
                <select [(ngModel)]="valueDefaultSchool" (change)="onChangeSchool()"
                  class="form-select custom-select form-select form-select-solid form-select-lg text-formcontrol-global fs-14 fw-700">
                  <option value="" selected>{{ t('user.school') }}</option>
                  <option value="1">Trường fake TH</option>
                  <option value="2">Trường fake THCS</option>
                  <option value="3">Trường fake THPT</option>
                </select>
              </div>
              <div class="search-select-option">
                <select (change)="onChangeStatus()" [(ngModel)]="valueDefaultIsActive"
                  class="form-select custom-select form-select form-select-solid form-select-lg text-formcontrol-global fs-14 fw-700">
                  <option value="" selected>{{ t('status') }}</option>
                  <option value="1">Đang hoạt động</option>
                  <option value="0">Đã khóa</option>
                </select>
              </div>
              <div class="search-input">
                <input type="text" name="keyword" class="form-control custom-tag-of-form fs-14" #searchInput
                  placeholder="{{ t('search') }}" (keyup.enter)="onEventKeyupEnter(searchInput.value)">
                <img class="search-icon" src="assets/images/svg/search.svg" alt=""
                  (click)="onClickSearch(searchInput.value)">
              </div>
              <span class="add-action d-flex justify-content-center align-items-center fs-14">
                <img class="add-icon" src="assets/images/svg/plus.svg" alt="">
                {{ t('btnAction.add') }}
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body pt-6">
        <div class="table-responsive">
          <table class="table align-middle gs-0 gy-3 my-0">
            <thead>
              <tr class="fs-14 border-bottom border-gray-200">
                <th class="pb-3 text-start">
                  {{ t('user.fullname') }}
                </th>
                <th class="pb-3 text-start">
                  {{ t('gender') }}
                </th>
                <th class="pb-3 text-start">
                  {{ t('user.username') }}
                </th>
                <th class="pb-3 text-start">
                  {{ t('status') }}
                </th>
                <th class="pb-3 text-start">
                  {{ t('email') }}
                </th>
                <th class="pb-3 text-start">
                  {{ t('user.phone') }}
                </th>
                <th class="pb-3 text-start">
                  {{ t('role') }}
                </th>
                <th class="pb-3 text-start">
                  {{ t('user.login') }}
                </th>
                <th class="pb-3 text-start">
                  {{ t('user.password') }}
                </th>
                <th class="pb-3 text-start">
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of dataSource">
                <td class="text-start fs-14 fw-600">
                  <div class="d-flex align-items-center">
                    <div class="symbol symbol-50px me-3">
                      <img src="{{ item.avatar }}" class="border-radius-50" alt="">
                    </div>
                    <div class="d-flex justify-content-start flex-column">
                      <a class="fw-700 color-50a5f1 mb-1 fs-14">{{ item.fullname }}</a>
                      <span class="d-block fs-12">
                        <span class="color-50a5f1">ID: </span>
                        <span>{{ item.code }}</span>
                      </span>
                    </div>
                  </div>
                </td>
                <td class="text-start fs-12 fw-500">
                  <span class="gender-{{ item.gender }}">{{ getGenderName(item.gender) }}</span>
                </td>
                <td class="text-start fs-14 fw-500">
                  <span>{{ item.username }}</span>
                </td>
                <td class="text-start fs-12 fw-500">
                  <span class="status-{{ item.isActive }}">{{ getStatusName(item.isActive) }}</span>
                </td>
                <td class="text-start fs-14 fw-500">
                  <div class="d-flex align-items-center">
                    <img class="action-icon pe-2" src="assets/images/svg/email6.svg" alt="">
                    <span>{{ item.email }}</span>
                  </div>
                </td>
                <td class="text-start fs-14 fw-500">
                  <div class="d-flex align-items-center">
                    <img class="action-icon pe-2" src="assets/images/svg/phone6.svg" alt="">
                    <span>{{ item.phone }}</span>
                  </div>
                </td>
                <td class="text-start fs-12 fw-500">
                  <span class="roles">{{ item.roles.length }}</span>
                </td>
                <td class="text-start fs-14 fw-500">
                  <span class="login-false">{{ getLoginName(item.isLogin) }}</span>
                </td>
                <td class="text-start fs-14 fw-500">
                  <span>{{ getPasswordName(item.isChangePassword) }}</span>
                </td>
                <td class="text-start">
                  <span class="user-action">
                    <img nz-button nz-dropdown [nzDropdownMenu]="menu" class="action-icon"
                      src="assets/images/svg/three_vertical_dot_icon.svg" alt="">
                    <nz-dropdown-menu #menu="nzDropdownMenu">
                      <ul nz-menu>
                        <li nz-menu-item class="fs-14 fw-600 custom-action-item"
                          (click)="openModalChangePassword(item)">
                          <span>
                            <img class="action-icon pe-3" src="assets/images/svg/password.svg" alt="">
                            {{ t('user.btnAction.changedPassword') }}
                          </span>
                        </li>
                        <li nz-menu-item class="fs-14 fw-600 custom-action-item" (click)="openModalComfirmDelete(item)">
                          <span>
                            <img class="action-icon pe-3" src="assets/images/svg/delete6.svg" alt="">
                            {{ t('btnAction.delete') }}
                          </span>
                        </li>
                      </ul>
                    </nz-dropdown-menu>
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <app-pagination [pageSize]="pageSize" [pageIndex]="pageIndex" [collectionSize]="collectionSize"
          *ngIf="collectionSize > pageSize" [sizeOption]="sizeOption" (paginationChange)="paginationChange($event)">
        </app-pagination>
      </div>
    </div>
  </div>
</div>
<div class="spinner" *ngIf="isLoading">
  <app-loading></app-loading>
</div>
