<ng-container *transloco="let t; scope: 'user'">
  <div class="modal-header">
    <h5 class="title-modal-global">{{dataModal?.titleModal}}</h5>
    <button type="button" class="close modal-btn-close" data-dismiss="modal" name="btn-top-close-modal" (click)="closeModal('dismiss')"
      [hidden]="!dataModal?.isHiddenBtnClose">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="custom-form-add-admin-account">
      <div class="info-user">
        <div class="lb-info fs-14 fw-700">{{ t('user.fullname') }}: <span class="value-info">{{ dataModal.dataFromParent.fullname }}</span></div>
        <div class="lb-info fs-14 fw-700">{{ t('user.code') }}: <span class="value-info">{{ dataModal.dataFromParent.code }}</span></div>
        <div class="lb-info fs-14 fw-700">{{ t('user.username') }}: <span class="value-info">{{ dataModal.dataFromParent.username }}</span></div>
      </div>
      <form class="form-school-manager" [formGroup]="formGroup">
        <div class="row mb-5">
          <div class="col-md-3 custom-lb-form">
            <span class="lb-form fs-15 fw-700">{{ t('user.newPassword') }}</span>
          </div>
          <div class="col-md-9">
            <input type="password" name="new-password" class="form-control custom-input-form fs-15" formControlName="password">
            <div class="text-danger mt-2" *ngFor="let err of validationMessages.password">
              <div
                *ngIf="formGroup.get('password').hasError(err.type) && (formGroup.get('password').dirty || formGroup.get('password').touched)"
                class="message-erro">
                {{ err.message }}
              </div>
            </div>
          </div>
        </div>
        <div class="row mb-5">
          <div class="col-md-3 custom-lb-form">
            <span class="lb-form fs-15 fw-700">{{ t('user.confirmPassword') }}</span>
          </div>
          <div class="col-md-9">
            <input type="password" name="re-new-password" class="form-control custom-input-form fs-15" formControlName="confirmPassword">
            <div class="text-danger mt-2" *ngFor="let err of validationMessages.confirmPassword">
              <div
                *ngIf="formGroup.get('confirmPassword').hasError(err.type) && (formGroup.get('confirmPassword').dirty || formGroup.get('confirmPassword').touched)"
                class="message-erro">
                {{ err.message }}
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="so-btn so-btn-cancel" data-dismiss="modal"
      (click)="closeModal('cancel')" name="btn-bottom-close-modal">{{dataModal?.btnCancel}}</button>
    <button type="button" [disabled]="formGroup.invalid"
      class="so-btn so-btn-primary so-btn-primary--small {{ formGroup.invalid ? 'btn-disable' : '' }}"
      (click)="closeModal('accept')" name="btn-bottom-accept-modal">{{dataModal?.btnAccept}}</button>
  </div>
</ng-container>
<div class="spinner" *ngIf="isLoading">
  <app-loading></app-loading>
</div>
