.custom-form-add-admin-account {
    .form-school-manager {
        .custom-lb-form {
            display: flex;
            align-items: flex-start;
            margin-top: 10px;

            .lb-form {
                color: #495057;
            }
        }

        .custom-input-form {
            height: 40px;
            background: #F5F8FA;
            border-radius: 5px;
            border: none;
        }

        .custom-input-form.avatar {
            padding-right: 75px;
        }

        .school-logo {
            position: relative;

            .upload-logo {
                cursor: pointer;
                position: absolute;
                right: 15px;
                top: 8px;
                display: flex;
                align-items: flex-end;

                .search-icon {
                    filter: brightness(0) saturate(100%) invert(40%) sepia(85%) saturate(2595%) hue-rotate(217deg) brightness(95%) contrast(90%);
                    margin-right: 2px;
                }
            }
        }
    }
    .info-user{
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        .lb-info{
            margin-right: 30px;
            color: #495057;
            .value-info{
                color: #50A5F1;
            }
        }
    }
}