<ng-container *transloco="let t; scope: 'role'">
  <div class="d-flex algin-items-center justify-content-end">
    <div class="filter d-flex">
      <div class="so-input-search mx-4">
        <nz-input-group [nzSuffix]="suffixIconSearch">
          <input type="text" name="input-search" nz-input placeholder="{{t('role.search')}}" #searchInput
            (keydown)="search($event, searchInput.value)" />
        </nz-input-group>
        <ng-template #suffixIconSearch>
          <img src="assets/images/svg/search.svg" alt="" nzType="search">
        </ng-template>
      </div>
      <ng-template ngxPermissionsOnly="{{ permission.role_modify }}">
        <button class="so-btn so-btn-primary so-btn-primary--small" (click)="assignPermission()"
          name="btn-update-permission">
          <img src="assets/images/svg/edit.svg" alt="">
          {{t('role.updatePermission')}}
        </button>
      </ng-template>
    </div>
  </div>
  <div class="mt-8">
    <div class="row">
      <ng-container *ngFor="let item of listPermission">
        <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3" style="margin-bottom: 15px">
          <div class="box">
            <div class="box-header">
              <span>{{item.name}}</span>
              <span class="text-link">({{item.code}})</span>
            </div>
            <div class="box-body">
              <div *ngFor="let permission of item.permissions">
                <img src="assets/images/svg/tich.svg" alt="">
                <span>{{permission.name}}&nbsp;</span>
                <span class="text-link">({{permission.code}})</span>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
      <p class="text-no-data" *ngIf="listPermission?.length == 0 || !listPermission">{{t('noData')}}</p>
    </div>
  </div>
</ng-container>

<div class="spinner" *ngIf="isLoading">
  <app-loading></app-loading>
</div>
