<ng-container *transloco="let t; scope: 'role'">
  <div class="modal-header">
    <h5 class="title-modal-global">{{t(dataModal?.titleModal)}}</h5>
    <button type="button" class="close modal-btn-close" data-dismiss="modal" (click)="closeModal(false)"
      name="icon-close" [hidden]="!dataModal?.isHiddenBtnClose">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="so-input-search mb-3">
      <nz-input-group [nzSuffix]="suffixIconSearch">
        <input type="text" name="input-search" nz-input placeholder="Tìm kiếm" #searchInput
          (keydown)="search($event, searchInput.value)" />
      </nz-input-group>
      <ng-template #suffixIconSearch>
        <img src="assets/images/svg/search.svg" alt="" nzType="search">
      </ng-template>
    </div>

    <div class="mt-8">
      <table class="table-global w-full mt-5">
        <caption></caption>
        <thead>
          <th style="width: 5%;" class="text-header-table text-center">{{t('STT')}}</th>
          <th style="width: 23%;" class="text-header-table"> {{t('role.nameUser')}}</th>
          <th style="width: 10%;" class="text-header-table"> {{t('code')}} </th>
          <th style="width: 10%;" class="text-header-table"> {{t('account')}} </th>
          <th style="width: 12%;" class="text-header-table"> {{t('phone')}} </th>
          <th style="width: 15%;" class="text-header-table"> {{t('email')}} </th>
        </thead>
        <tbody>
          <ng-container *ngFor="let item of listUsers; let i=index">
            <tr>
              <td class="text-content-table text-center">
                {{(pageIndex-1)*pageSize + i + 1}}
              </td>
              <td class="text-content-table">
                <span class="text-link fw-500" [routerLink]="item.id">{{item.fullName}}</span>
              </td>
              <td>
                {{item.code}}
              </td>
              <td>
                {{item.username}}
              </td>
              <td>
                {{item.phone}}
              </td>
              <td>
                {{item.email}}
              </td>
            </tr>
          </ng-container>
          <tr *ngIf="listUsers?.length == 0 || !listUsers">
            <td class="text-no-data" colspan="7">{{t('noData')}}</td>
          </tr>
        </tbody>
      </table>

      <div class="mt-5" *ngIf="collectionSize > sizeOption[0]">
        <app-pagination [pageSize]="pageSize" [pageIndex]="pageIndex" [collectionSize]="collectionSize"
          [sizeOption]="sizeOption" (paginationChange)="paginationChange($event)">
        </app-pagination>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="so-btn so-btn-primary so-btn-primary--small" data-dismiss="modal" name="btn-accept"
      (click)="closeModal(false)">{{t(dataModal?.btnAccept)}}</button>
  </div>
</ng-container>

<div class="spinner" *ngIf="isLoading">
  <app-loading></app-loading>
</div>
