<div class="modal-header">
  <h5 class="title-modal-global">{{dataModal?.titleModal}}</h5>
  <button type="button" class="close modal-btn-close" data-dismiss="modal" (click)="closeModal('dismiss')" name="icon-close"
  [hidden]="!dataModal?.isHiddenBtnClose">
      <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p>{{ dataModal?.dataFromParent }}</p>
</div>
<div class="modal-footer">
  <button type="button" class="so-btn so-btn-cancel" data-dismiss="modal" name="btn-cancel" (click)="closeModal('cancel')">{{dataModal?.btnCancel}}</button>
  <button type="button" class="so-btn so-btn-primary so-btn-primary--small" name="btn-accept" (click)="closeModal('accept')">{{dataModal?.btnAccept}}</button>
</div>
