<form action="" [formGroup]="formRole" *transloco="let t; scope: 'role'">
  <div class="modal-header">
    <h5 class="title-modal-global">{{t(dataModal?.titleModal)}}</h5>
    <button type="button" class="close modal-btn-close" data-dismiss="modal" (click)="closeModal(false)"
      name="icon-close"
      [hidden]="!dataModal?.isHiddenBtnClose">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-normal-global">
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 mb-6">
        <div class="form-group so-form-group">
          <label for="name" class="fw-600">{{t('role.nameRole')}} <span class="text-danger">*</span></label>
          <input type="text" class="form-control" id="name" name="name" placeholder="{{t('role.enterNameRole')}}"
            autocomplete="off" formControlName="name">
        </div>
        <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
          validation: 'required',
          message: t('role.requiredName'),
          control: formRole.controls['name']
          }">
        </ng-container>
        <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
          validation: 'maxlength',
          message: t('role.maxLengthName'),
          control: formRole.controls['name']
          }">
        </ng-container>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 mb-6">
        <div class="form-group so-form-group">
          <label for="code" class="fw-600">{{t('code')}} <span class="text-danger">*</span></label>
          <input type="text" class="form-control" id="code" name="code" placeholder="{{t('enterCode')}}"
            autocomplete="off" formControlName="code"
            [attr.disabled]="dataFromParent.nameForm == 'update' ? '' : null">
        </div>
        <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
          validation: 'required',
          message: t('role.requiredCode'),
          control: formRole.controls['code']
          }">
        </ng-container>
        <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
          validation: 'maxlength',
          message: t('role.maxLengthCode'),
          control: formRole.controls['code']
          }">
        </ng-container>
      </div>
    </div>
    <!-- tam an chuc nang chon layout -->
    <!-- <div class="row">
      <div class="col-12 col-md-12 col-lg-12 col-xl-12 mb-6">
        <div class="form-group so-form-group">
          <label for="layout" class="fw-600">Layout áp dụng <span class="text-danger">*</span></label>
          <select name="layout" id="layout" class="w-full" formControlName="layoutCode">
            <option [value]="null">Chọn Layout</option>
            <ng-container *ngFor="let layout of arrLayouts">
              <option [value]="layout.code">{{layout.name}}</option>
            </ng-container>
          </select>
        </div>
        <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
          validation: 'notNull',
          message: 'Chưa chọn layout áp dụng',
          control: formRole.controls['layoutCode']
          }">
        </ng-container>
      </div>
    </div> -->
    <div class="row">
      <div class="col-12 col-md-12 col-lg-12 col-xl-12 mb-6">
        <div class="form-group so-form-group">
          <label for="desc" class="fw-600">{{t('description')}} </label>
          <textarea name="desc" id="desc" cols="30" rows="10" placeholder="{{t('enterDescription')}}" class="w-full" formControlName="desc"></textarea>
        </div>
      </div>
    </div>
    <!-- error -->
    <ng-template #formError let-control="control" let-message="message" let-validation="validation">
      <ng-container *ngIf="control.hasError(validation) && (control.dirty || control.touched)">
        <div class="fv-plugins-message-container">
          <span role="alert">
            <div class="err-form text-danger">
              <img src="assets/images/svg/icon-false.svg" alt="">
              <span>&nbsp;{{ message }}</span>
            </div>
          </span>
        </div>
      </ng-container>
    </ng-template>
  </div>
  <div class="modal-footer">
    <button type="button" class="so-btn so-btn-cancel" data-dismiss="modal" name="btn-cancel"
      (click)="closeModal(false)">{{t(dataModal?.btnCancel)}}</button>
    <button type="button" class="so-btn so-btn-primary so-btn-primary--small" name="btn-accept"
      (click)="submit(formRole.value)" [disabled]="!formRole.valid">{{t(dataModal?.btnAccept)}}</button>
  </div>
</form>

<div class="spinner" *ngIf="isLoading">
  <app-loading></app-loading>
</div>
