<div class="bg-white p-8 h-full" *transloco="let t; scope: 'role'">
  <!-- start header -->
  <div class="d-flex algin-items-center justify-content-between flex-wrap">
    <h3 class="title-compo-global mb-3">{{t('role.listRole')}}</h3>
    <div class="filter d-flex flex-wrap algin-items-center">
      <!-- tam an chuc nang loc layout -->
      <!-- <select name="status" id="" [(ngModel)]="layoutCode" class="so-select mb-3" (ngModelChange)="filter()">
        <option [value]="null">Chọn Layout</option>
        <ng-container *ngFor="let layout of arrLayouts">
          <option [value]="layout.code">{{layout.name}}</option>
        </ng-container>
      </select> -->

      <div class="so-input-search mx-4 mb-3">
        <nz-input-group [nzSuffix]="suffixIconSearch">
          <input type="text" name="input-search" nz-input placeholder="{{t('role.search')}}" #searchInput
            (keydown)="search($event, searchInput.value)" />
        </nz-input-group>
        <ng-template #suffixIconSearch>
          <img src="assets/images/svg/search.svg" alt="" nzType="search">
        </ng-template>
      </div>
      <!-- <ng-template ngxPermissionsOnly="{{ permission.role_modify }}"> -->
        <button class="so-btn so-btn-primary so-btn-primary--small mb-3" (click)="create()" name="btn-create">
          <img src="assets/images/svg/add.svg" alt="">
          {{t('btnAction.add')}}
        </button>
      <!-- </ng-template> -->
    </div>
  </div>
  <!-- end header -->

  <!-- content -->
  <div class="mt-12">
    <table class="table-global w-full">
      <caption></caption>
      <thead>
        <th style="width: 20%;" class="text-header-table"> {{t('role.nameRole')}}</th>
        <th style="width: 12%;" class="text-header-table"> {{t('role.codeRole')}} </th>
        <th style="width: 18%;" class="text-header-table"> {{t('role.layout')}} </th>
        <th style="width: 15%;" class="text-header-table text-center"> {{t('user')}} </th>
        <th style="width: 20%;" class="text-header-table"> {{t('description')}} </th>
        <!-- <ng-template ngxPermissionsOnly="{{ permission.role_modify }}"> -->
          <th style="width: 15%;" class="text-header-table text-center"> {{t('action')}} </th>
        <!-- </ng-template> -->
      </thead>
      <tbody>
        <ng-container *ngFor="let item of arrRole; let i=index">
          <tr>
            <td class="text-content-table">
              <span class="text-link fw-500 cursor-pointer" [routerLink]="item.id"
                [queryParams]="{tab: 1}">{{item.name}}</span>
            </td>
            <td>
              {{item.code}}
            </td>
            <td>
              {{mapNameLayout(item.layout)}}
            </td>
            <td class="text-center">
              <span class="fw-500 badge so-badge cursor-pointer" (click)="viewModalListUser(item.id)"
                name="view-list">{{item.userNumber}}</span>
            </td>
            <td>
              {{item.description}}
            </td>
            <!-- <ng-template ngxPermissionsOnly="{{ permission.role_modify }}"> -->
              <td class="text-center">
                <div class="d-flex justify-content-center">
                  <button nz-dropdown [nzDropdownMenu]="menu" nzTrigger="click"
                    class="so-btn-open-drop-menu d-flex align-items-center" name="btn-open-menu">
                    {{t('action')}}
                    <img src="assets/images/svg/activate.svg" alt="" style="margin-left: 7px">
                  </button>
                </div>
                <nz-dropdown-menu #menu="nzDropdownMenu" class="so-drop-menu">
                  <ul nz-menu>
                    <li nz-menu-item (click)="updateRole(item)" class="d-flex align-items-center so-item-drop-menu"
                      name="btn-update-role">
                      <img src="assets/images/svg/write.svg" alt="">
                      {{t('btnAction.update')}}
                    </li>
                    <!-- <li nz-menu-item (click)="viewList(item?.id)"
                      class="d-flex align-items-center so-item-drop-menu"
                      name="btn-view-user">
                      <img src="assets/images/svg/user-account.svg" alt="">
                      Danh sách người dùng
                    </li> -->
                    <li nz-menu-item (click)="delete(item?.id)"
                      class="d-flex align-items-center so-item-drop-menu text-danger" name="btn-delete">
                      <img src="assets/images/svg/icon-delete.svg" alt="">
                      {{t('btnAction.delete')}}
                    </li>
                  </ul>
                </nz-dropdown-menu>
              </td>
            <!-- </ng-template> -->
          </tr>
        </ng-container>
        <tr *ngIf="arrRole?.length == 0 || !arrRole">
          <td class="text-no-data" colspan="6">{{t('noData')}}</td>
        </tr>
      </tbody>
    </table>

    <app-pagination [pageSize]="pageSize" [pageIndex]="pageIndex" [collectionSize]="collectionSize"
      *ngIf="collectionSize > sizeOption[0]" [sizeOption]="sizeOption" (paginationChange)="paginationChange($event)">
    </app-pagination>
  </div>
  <!-- end content -->
</div>

<div class="spinner" *ngIf="isLoading">
  <app-loading></app-loading>
</div>
