.ant-picker {
    background-color: #eff1f3 !important;
}
.ant-picker-focused {
    border-color: #7c818b;
    box-shadow: none;
}
.ant-picker:hover {
    border-color: #7c818b;
    box-shadow: none;
}